<!DOCTYPE html>
<html>
  <head>
    <title>EntranceHacks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application"%>
    <%= javascript_importmap_tags %>
    <!-- Normalize.css を使用する例 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-bK9tMzll+UprT6ZpAs9g6PZNHTvUkzXS0p3zgsZXgE=" crossorigin="anonymous">

  </head>

<%= render "shared/header" %>

  <body>
    <%= yield %>
  </body>
  
<%= render "shared/footer" %>
</html>
